# .github/workflows/trigger-vercel-build.yml

name: Trigger Vercel Build

on:
  push:
    branches:
      - "main"
    paths:
      - 'members.json'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deploy Hook
        run: curl -X POST "${{ secrets.VERCEL_DEPLOY_HOOK_URL }}"
